/*body {
    max-width: 1200px;
    margin: 0 auto;
}*/
.navbar-dark {
    background-color: #2d1f4d;
}

footer {
    font-size: small;
    background: #C2EBB6;
    margin-top: 2em;
    padding-top: 15px;
}

